.main_header{
	color: #7b00ff;
	background-color: #e5ceff;
	border: 2px solid #7b00ff;
	border-radius: 10px;
	margin: 20px 0px;
	padding: 20px;
	text-align: center;
	text-shadow: 2px 2px 5px #a51238;
	text-transform: capitalize;
    font-family: monospace;
    position: relative;
	.icon_left{
		position: absolute;
	    top: 0;
	    left: 0;
	    transform: translate(-50%, -50%) !important;	
	}
	.icon_right{
		position: absolute;
	    bottom: 0;
	    right: 0;
	    transform: translate(50%, 50%) !important;	
	}
}
.main_header_desc{
	text-align: justify;	
}
.my_first_page{
		
}