.main_header{
	color: #7b00ff;
	background-color: #e5ceff;
	border: 2px solid #7b00ff;
	border-radius: 10px;
	margin: 20px 0px;
	padding: 20px;
	text-align: center;
	text-shadow: 2px 2px 5px #a51238;
	text-transform: capitalize;
    font-family: monospace;
}
.main_header_desc{
	text-align: justify;	
}